# Operating System files
.DS_Store
Thumbs.db

# Editors & IDEs
*.swp
*.swo
*~
.vscode/
.idea/
.vs/

# .NET Build & Packaging
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.user
*.userosscache
*.sln.docstates
*.suo
TestResults/

